@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@media (max-width: 656px) {
  .Home section {
    flex: 100%;
  }
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 10px;
  border: 1px solid #ddd;
}

section {
  flex: 50%;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 1em;

  &.Home-heart {
    opacity: 0.5;
  }
}

.Home-container {
  position: relative;
  font-family: 'Tangerine', cursive;
  .Home-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: clamp(2em, 4vw, 5rem);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
