@media (max-width: 656px) {
  .loadphoto__container {
    font-size: clamp(1em, 3vw, 5rem);
    gap: 10px;
  }
}

.loadphoto__container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  margin: 1rem;
}

.formphoto__container {
  max-width: 30%;
  min-width: 260px;
  margin: auto;
}
.formphoto__gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  text-transform: capitalize;
  font-size: clamp(2em, 4vw, 5rem);
  font-family: 'Carattere', cursive;
  color: #29434e;
}

h3 {
  font-size: clamp(2em, 4vw, 5rem);
  font-family: 'Tangerine', cursive;
}

.formphoto__row {
  border-style: ridge;
  padding: 1em;
  background-color: #f5f5f5;
}

button {
  margin: 1em;
}
.photo {
  height: 400px;
  width: auto;
}

.btn-click {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #232b23;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-click:hover {
  background-color: #283128;
}

.btn-click:active {
  background-color: #282b28;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
